<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Editais - Vagas
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/admin/edital">Editais</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Código do edital</th>
                    <th>Nome do edital</th>
                    <th>Fase atual</th>
                    <th style="width: 140px">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$edital"}
                  <tr>
                    <td>{$value.idedital}</td>
                    <td>{$value.descodedital}</td>
                    <td>{$value.desedital}</td>
                    <td>{$value.desfase}</td>
                    <td>
                      <a href="/admin/edital/{$value.idedital}/vagas" class="btn btn-warning btn-xs"><i class="fa fa-edit"></i> Vagas</a>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->