<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Vagas do Edital {$edital.descodedital}
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/admin/edital">Editais</a></li>
    <li><a href="/admin/edital/{$edital.idedital}">{$edital.descodedital}</a></li>
    <li class="active"><a href="/admin/edital/{$edital.idedital}/cargo">Cargos</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                <h3 class="box-title">Todos os Cargos</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th style="width: 10px">#</th>
                            <th>Nome do Cargo</th>
                            <th style="width: 240px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop="$cargosNotRelated"}
                            <tr>
                            <td>{$value.idcargo}</td>
                            <td>{$value.descargo}</td>
                            <td>
                                <a href="/admin/edital/{$edital.idedital}/vagas/{$value.idcargo}/add" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-right"></i> Adicionar</a>
                            </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                <h3 class="box-title">Vagas no Edital {$edital.descodedital}</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th style="width: 10px">#</th>
                            <th>Nome do Cargo</th>
                            <th>Qt. de Vagas</th>
                            <th style="width: 240px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop="$cargosRelated"}
                            <tr>
                            <td>{$value.idcargo}</td>
                            <td>{$value.descargo}</td>
                            <td>{$value.nrvacancy}</td>
                            <td>
                                <a href="/admin/edital/{$edital.idedital}/vagas/{$value.idcargo}/remove" class="btn btn-danger btn-xs pull-right"><i class="fa fa-arrow-left"></i> Remover</a>
                            </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->