<div class="container">
	<div class="bg-pag">	
		<div class="content box">
	
		<head><title>Editais {$fase}</title></head>
			<div>
				<div class="navigation">
					<a class=" mr5" href="/">Home</a><i class="fa fa-angle-double-right mr5"></i>
					<span>Editais {$fase}</span>
					<a class="fright" href="javascript:history.go(-1)"><i class="btn fa fa-angle-double-left"></i> Voltar</a>
				</div>

				<div class="views">
					<div class="view">
						<div class="clear"></div>
						<hr class="hr40"/>

						<h1 align="left" style="font-size:250%; font-weight:700;">Editais {$fase}</h1>
						<br>
						<br>
						<div>
							<div class="col-2-3-2-emax">
								<div align="left">
									<h1 align="left" style="font-size:150%; font-weight:400;">Nenhum edital encerrado até o momento</h1>
																		<br>
									<h1 align="left" style="font-size:150%; font-weight:400;"><ins><a href="/editais_publicados">Clique aqui</a></ins> para acessas nossos editais publicados. </h1>
									<!-- abas -->

									<!-- abas -->
									<div class="tab"></div>
									<br/>
									<div style="padding:15px 0" class="addthis_native_toolbox"></div>	
									<br/>
								</div>	
							</div>	
							<div class="aside col-2-3-1-dmin">
								<div class="box-wrap">
									<div class="tta">Procurar por Cargo</div>
									<div class="ttb"></div>
							    	{include="cargo-menu"}
								</div>
								<div class="clear"></div>
								<br>
							</div>
							<div class="clear"></div>
						</div>
					</div>	
					<!-- abas -->
						<script>
						document.getElementById("defaultOpen").click();
						function openAbas(evt, abasName) {
					    var i, tabcontent, tablinks;
					    tabcontent = document.getElementsByClassName("tabcontent");
					    for (i = 0; i < tabcontent.length; i++) 
					    	{tabcontent[i].style.display = "none";}
					    tablinks = document.getElementsByClassName("tablinks");
					    for (i = 0; i < tablinks.length; i++) 
					    	{tablinks[i].className = tablinks[i].className.replace(" active", "");}
					    document.getElementById(abasName).style.display = "block";
					    evt.currentTarget.className += " active";
						}
						</script>
				</div>
				<script src="/res/site/plugins/js/janela.js" type="text/javascript"></script>
			</div>
		</div>	
	</div>
</div>
<div class="clear"></div>
